* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    height: 100%;
}

.primario {
    background-color: #ab0a3d !important;
    color: #eaeaea !important;
}

.secundario {
    background-color: #440412 !important;
    color:  #eaeaea !important;
}

.terciario {
    background-color: #B68400 !important;
    color:  #000000 !important;
}

#list-search{
   position: absolute;
}
